# Some packages must be installed via dnf/yum first, see doc/contributing.rst
dict.sorted
dogpile.cache
fedmsg
funcsigs
jsonschema < 4.0.0
kobo
koji
lxml
mmdzanata
modulemd
ordered_set
productmd
pykickstart
python-multilib
urlgrabber
